include COPYRIGHT.txt

include examples/README.txt
include examples/aba/ABA.txt
include examples/aba/Aba-sim.py
include examples/aba/Aba-plot.py
include examples/aba/Aba-final.png
include examples/aba/Aba-final.bin

include examples/LGL/LGL.txt
include examples/LGL/LGL-final.bin
include examples/LGL/LGL-final.png
include examples/LGL/LGL-plot.py
include examples/LGL/LGL-sim.py

include examples/immune/Bb-plot.py
include examples/immune/Bb-sim.py
include examples/immune/localdefs.py
include examples/immune/overrides.py
include examples/immune/Bb-compartmental.csv
include examples/immune/Bb-concentration.csv
include examples/immune/Bb-final.bin

recursive-include test test*.txt test*.py
